body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 80px;
    padding: 80px 0px 0px 0px;
    margin: 0%;
}
h2 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
h3 {
    font-size: 40px;
    font-weight: 700;
}
p {
    font-size: 15px;
    padding-bottom: 40px;
}
.flex-section {
display: flex;
}
.highlight {
    color: tomato;
}
.link-button {
    text-decoration: none;
    background-image:linear-gradient(rgb(167, 150, 145), rgb(247, 56, 56));
    font-weight: 600;
    color: white;
    border-radius: 50px;
    padding: 20px 40px;
}
.flex-top-container {
    width: 50%;
    padding: 0% 0% 10% 5%;
}
.flex-top-container img {
    width: 100%;
    height: 100%;
}
.flex-middle-section {
    background-image: url(images/middlebanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    align-items: center;
}
.flex-middle-container {
    width: 50%;
}
.flex-middle-container img { 
    width: 100%;
    height: 100%;
}
.flex-bottom-container {
    width: 30%;
    margin-left: 5%;
    margin-right: 5px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px gray;
}
.flex-bottom-container img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
.non-flex-section div {
    text-align: center;
}
div .flex-section {

}